@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: "Roboto";
  background-color: #102030;
  color: #CCAA10;
}

p {
  font-size: large;
  padding: 2vh;
  padding-left: 5vh;
  width: 50vw;
}

.title {
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10vh;
  width: 90vw;
}

.inset {
  padding: 2vh;
}

.floor {
  background-color: #16161A;
  background-size: cover;
  margin: 0px;
  padding:0px;
}

.images-table {
  width: 95vw;
}

.image {
  width: 90%;
  padding: 2vh;
}

h1 {
  font-size: 7vh;
  line-height: 1;
  margin: 1vh 1vw;
}

h2 {
  font-size: 50px;
  line-height: .75;
  margin: 1vh 1vw;
}
